@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');
body, html {
    background-color: #222;
    font-family: 'Rokkitt', sans-serif;
    color: #ddd;
}
body {
    align-content: center;
    text-align: center;
}
.start {
    margin: 25vh auto 0;
    /* min-width: 300px;
    max-width: 700px;
    display: block;
    align-items: center; */
}
h1 {
    font-family: 'Fredoka One', cursive;
    font-size:  60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
input[type="color"] {
    margin-top: 5px;
}
button {
    margin-top: 20px;
    border-width: 0;
    border-radius: 5px;
    font-family: 'Fredoka One', cursive;
    font-size:  40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
    text-align: center;
    align-self: center;
}
button:hover {
    transform: scale(1.05);
}
#board {
    display: flex;
}
.board-column {
    width: 14%;
    height: 420px;
    border: 1px solid white;
}
.circle {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    margin:  15px auto;
}
#controls > button {
    font-size: 27px;
}

#result {
    margin-top: calc(50vh - 70px);
}