body, html {
    background-color: #222;
}

.init, .game {
    margin: 25vh auto 0;
    border: 4px solid #ddd;
    border-radius: 5px;
    background-color: rgba(221,221,221,0.3);
    min-width: 300px;
    max-width: 700px;
    color: #000;
    display: block;
    align-items: center;
    padding: 20px;
}

.init-content {
    width:250px;
    margin:auto;
}

label {
    color: #ddd;
    font: sans-serif;
    font-size: 15px;
}

input {
    height: 20px;
    width: 250px;
    align-self: center;
    border: 2px solid #000;
    border-radius: 2px;
    margin: 3px auto 20px;
}

.error {
    font-size: 12px;
    color: #f00;
    margin-bottom: 3px;
}

button {
    align-self: center;
}

h2.score {
    text-align: center;
    font-size:24px;
    color: #000;
}

table {
    width: 275px;
    height: 275px;
    margin: auto;
    border: 4px solid black;
    border-spacing: 0;
}

td {
    width: auto;
    height: auto;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #777;
    color: #777; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.unchecked {
    background-color: #ddd;
    color: #ddd;
}

.risk1 {
    color: #00f;
}

.risk2 {
    color: #0cc;
}

.risk3 {
    color: #5f0; 
}

.risk4 {
    color: #dd0;
}

.risk5 {
    color: #700;
}

.risk6 {
    color: #fb0;
}

.risk7 {
    color: #f00;
}

.risk8 {
    color: #f00;
}

.bomb {
    color: #fff;
}
